body {
  display: flex;
  place-items: start !important;
  background-color: #be2801
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mario-logo {
  width: 50vw;
  height: auto;
  position: relative;
  top: 3vw;
}

.login-block {
  display: block;
  unicode-bidi: isolate;
  position: relative;
  top: 7vw;
}

.login-input {
  width: 60%;
  height: 34px;
  margin-right: 12px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
}