body {
  display: flex;
  place-items: start !important;
  background-color: #be2801
}

.mario-logo {
  width: 50vw;
  height: auto;
  position: relative;
  top: 3vw;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}